<div class="container-full">
  <div class="content">
    <div class="content-form">
      <div class="form-header">
        <h1 class="title-form">Atualize seu Perfil</h1>
      </div>

      <div class="form-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <div class="field-content">
            <i class="material-icons icon-field">person</i>
            <%= f.text_field :name, class: "input-field", placeholder: "Nome" %>
          </div>

          <div class="field-content">
            <i class="material-icons icon-field">email</i>
            <%= f.email_field :email, class: "input-field", placeholder: "E-mail" %>
          </div>

          <div class="field-content">
            <i class="material-icons icon-field">lock_outline</i>
            <%= f.password_field :password, class: "input-field", placeholder: "Password New" %>
          </div>

          <div class="field-content">
            <i class="material-icons icon-field">lock_outline</i>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "input-field", placeholder: "Password confirmation" %>
          </div>

          <div class="field-content">
            <i class="material-icons icon-field">lock_outline</i>
            <%= f.password_field :current_password, class: "input-field", autocomplete: "current-password", placeholder: "Password current" %>
          </div>

          <div class="field">
            <%= f.submit "Atualizar", class: "button-field btn" %>
          </div>
        <% end %>
      </div>

      <div class="form-footer">
        <span>Cancelar minha conta</span>

      <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-small red lighten-2",data: { confirm: "Are you sure?" }, method: :delete %>

      </div>
    </div>
  </div>
</div>