<div class="container">

  <div class="row">
    <%= render "search/form" %>
  </div>

  <div class="row">
    <% @projects.each do |project| %>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <% if project.image_project.attached? %>
              <%= image_tag rails_blob_path(project.image_project), class: "image-project" %>
            <% end %>
          </div>
          <div class="card-content">
            <span class="card-title">
              <a href="/pages/<%= project.id %>">
                <%= project.title %>
              </a>
            </span>
            <span>
              por <%= project.user.name %>
            </span>
            <p>
              <%= truncate(project.description, length: 25) %>
            </p>
          </div>
          <div class="card-action">
            <p>
              <%= format_monetary_value(project.target_value) %>
            </p>
            <p>
              <%= formart_date(project.end_date) %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>