<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <h2>
        <%= @project.title %>
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <% if @project.image_project.attached? %>
        <%= image_tag rails_blob_path(@project.image_project), class: "responsive-img" %>
      <% end %>
    </div>

    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="">
            Por <%= @project.user.name %>
          </span>
          <p>
            valor arrecadado até o momento R$ 
            <%= total_amount_collected(@project.supporters) %>
          </p>
          <p>
            Meta R$ <%= format_monetary_value(@project.target_value) %>
          </p>
          <p>
            Este projeto pode ser apoiado ate o dia 
            <%= formart_date(@project.end_date) %>
          </p>
        </div>
        <div class="card-action center">
          <a href="/" class="green btn">Voltar</a>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <% if check_closing_date(@project.end_date) %>
            <div class="row">
              <%= form_for(Supporter.new) do |f| %>
                <div class="input-field col s12">
                  <%= f.text_field :donated_amount, class: "donated_amount" %>
                  <%= f.label :donated_amount %>
                </div>
                <%= f.hidden_field :project_id, value: @project.id %>
                <button class="btn waves-effect waves-light right" type="submit" name="action">
                  Apoiar este projeto
                  <i class="material-icons right">done</i>
                </button>
              <% end %>
            </div>
          <% else %>
            <div class="row">
              <p class="flow-text center-align">
                Este projeto alcanço a data limite
              </p>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <p>
        <%= @project.description %>
      </p>
    </div>
          
    <h5 class="card-title">Apoiadores deste projeto</h5>
    <% @project.supporters.each do |supporter| %>
      <div class="col s12 m2">
        <div class="card blue-grey lighten-1">
          <div class="card-content white-text center">
            <span><%= supporter.user.name %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>